@charset "utf-8";
/* CSS Document */

div {
    border-radius: 2px;
    background-color: bisque;
    padding: 10px;
}

#tampilantabel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tampilantabel td, #tampilantabel th {
    border: deeppink;
    padding: 8px;
}

#tampilantabel tr:nth-child(even){background-color: #f2f2f2}
#tampilantabel tr:hover {background-color:#ddd}

#tampilantabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: aqua;
    color: aquamarine;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inlineLock;
    border: cornflowerblue;
    border-radius: 4px;
    box-sizing: border-box;
}

input [type-text], input[type-password]:focus {
     background-color: black;
}
input[type-submit], input[type-button], input[type=reset]{
    background-color: darksalmon;
    border: none;
    color: fuchsia;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
    float:right;
}

input[type=submit]:hover {
    background-color: #45a049;

}
img {
    border-radius: 80%;
}
